* {
	padding: 0px;
	margin: 0px;
}

.main-wrapper{
    width: 900px;
    height: 500px;
    border:  2px solid blue;
    margin: 0px auto;
    position: relative;
}

.input-wrapper{
    width: 500px;
    margin: 0px auto;
}

.box {
/*
	width: 25px;
	height: 25px;
*/
	border: 1px solid blue;
	background-color: red;
	position: absolute;
	left: 0px;
	top: 0px;
}

.green {
	background-color: green;
}

input {
    width: 100px;
}